<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">All</a></li>
              <li><a href="/blog/work">Work</a></li>
              <li><a href="/blog/dnd">D&amp;D</a></li>
          </ul>
      </nav>
      <div class="container">

      {{ content }}

      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="https://github.com/ceedon">github.com/ceedon</a></li>
        </ul>
      </footer>
    </body>
  </html>
